.wrap {
  width: 100%;
  background-image: url(./img/bg-patten.png);
  font-family: "Noto Sans KR", sans-serif;
  // font-family: "Ubuntu", sans-serif;
  header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    padding: 0px 24px;
    opacity: 0.8;
    h1 {
      margin-bottom: 0px;
      width: 250px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    nav {
      ul {
        margin: 0px;
        li {
          display: inline-block;

          &:hover {
            border-bottom: 1px solid #53f6c7;
          }
          a {
            padding: 16px 24px;
            display: inline-block;
            font-size: 16px;
            font-family: "Ubuntu", sans-serif;
            color: #fff;
            font-weight: 300;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  section {
    height: 100vh;
    margin-bottom: 120px;
    &:not(:nth-of-type(1)) {
      margin: 0 auto;
      max-width: 1400px;
      width: 100%;
    }
    .main-title {
      font-size: 120px;
      color: rgba(54, 54, 54);
      font-family: "Ubuntu", sans-serif;
      text-align: right;
      margin-bottom: 30px;
    }
    &.home-section {
      position: relative;
      .home-bg {
        position: absolute;
        background-color: rgba(54, 54, 54, 0.4);
        width: 600px;
        height: 95vh;
        top: 0;
        right: 0;
        z-index: 0;
      }
      .text-area {
        display: inline-block;

        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
        color: #fff;
        .title {
          font-family: "Ubuntu", sans-serif;
          font-size: 64px;
          margin-bottom: 24px;
          span {
            color: #53f6c7;
          }
        }
        .slogan {
          font-size: 24px;
        }
        .sub-title {
          font-size: 32px;
          margin-bottom: 12px;
          font-family: "Ubuntu", sans-serif;
        }
      }
    }
    &.about-section {
      margin: 0 auto;
      max-width: 1400px;
      width: 100%;
      .about-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        .box {
          width: 650px;
          border-radius: 12px;
          height: 300px;
          padding: 24px;
          background-color: red;
        }
      }
      .slogan-box {
        width: 100%;
        max-width: 1400px;
        height: 300px;
        padding: 24px;
        border-radius: 12px;
        background-color: red;
      }
    }
    &.portflio-section {
    }
    &.skill-section {
    }
    &.content-section {
    }
  }
}
